.features .glyphicon {
    font-size: 32px;
}

body {
    padding-top: 70px;
}

footer {
    background-color: lightgrey;
}

.center-pills {
    display: inline-block;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}