.features .glyphicon {
    font-size: 32px;
}

body {
    padding-top: 70px;
}

footer {
    background-color: lightgrey;
}

.center-pills {
    display: inline-block;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.modelAnimation.ng-move,
.modelAnimation.ng-enter {
    -webkit-animation: zoomIn 2s;
    -moz-animation: zoomIn 2s;
    -o-animation: zoomIn 2s;
    animation: zoomIn 2s;
}

.modelAnimation.ng-leave {
    -webkit-animation: zoomOut 2s;
    -moz-animation: zoomOut 2s;
    -o-animation: zoomOut 2s;
    animation: zoomOut 2s;
}

.reviewAnimation.ng-move,
.reviewAnimation.ng-enter {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.reviewAnimation.ng-leave {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.chatWindowAnimation.ng-hide-remove {
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.chatWindowAnimation.ng-hide-add {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    animation: fadeOut 1s;
}

.chat-window {
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 50px;
    background-color: darkgray;
    opacity: 0.9;
    z-index: 1000;
}

.chat-window .conversation-log {
    background-color: lightgrey;
    height: 30%;
    overflow-y: auto;
}

.chat-window .user-input {
    height: 10%;
    max-height: 40px;
}

.chat-window input[type=text] {
    height: 100%;
    width: 80%;
    border: 0;
    margin: 0;
    float: left;
}

.chat-window input[type=button] {
    height: 100%;
    width: 20%;
    margin: 0;
    border: 0;
}

.chat-window .notifications {
    height: 60%;
    background-color: #000000;
}